<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.css">
    <style type="text/css">body{ padding-top: 40px;}
        
    </style>
</head>
<body>
<div id="root" class="container">

    <tabs>

        <tab name="About us" :selected="true">
            <h1>Here is the content 1 </h1>
        </tab>
        <tab name="About our">
            <h1>Here is the content  2</h1>
        </tab>
        <tab name="About winter">
            <h1>Here is the content  3</h1>
        </tab>

    </tabs>
    <!--<modal v-if="showModal" @close="showModal = false">-->
        <!--<p>Another text</p>-->

    <!--</modal>-->

    <!--<butoon id="button"  @click="showModal = true">Show Modal</butoon>-->
     <!--<message title="Hello World" body="Lorem ipsum"></message>-->
    <!--<message title="Hello All" body="Really interesting"></message>-->
    <!--<task-list></task-list>-->
    <!--<task>Go to the store</task>-->
    <!--<task>Go to the bank</task>-->
    <!--<task>Go to the school</task>-->
    <!--<h1>-->
        <!--{{ message.split('').reverse().join('') }}-->
    <!--</h1>-->
    <!--<h1 v-text="new Date()"></h1>-->
    <!--<button :class="{ 'is-loading': isLoading }" @click="toggleClass">Click Me</button>-->
    <!--<h1 :class="className">Hello world !</h1>-->
    <!--<button @click="method" :title="title">Hover over me</button>-->
    <!--<ul>-->
        <!--<li v-for="name in names" v-text="name"></li>-->
    <!--</ul>-->
    <!--<input id="input" type="text" v-model="newName">-->
    <!--<button @click="addName">Add name</button>-->



</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script src="main.js">


    // var app = new Vue({
    //     el:'#root',
    //     data: {
    //         message: 'Hello world'
    //         // isLoading:false
    //         // className: 'color-red'
    //         // title: 'Now the title.'
    //     },
    //
    //     methods: {
    //         toggleClass() {
    //             this.isLoading = true;
    //         }
    //     }
    // });


////    var app = new Vue({
////        el:'#root',
////        data:{
////            newName:'',
////            names: ['Joe','Mary','Jane', 'Stas']
////        },
////
////        methods: {
////           addName(){
////                this.names.push(this.newName);
////
////                this.newName = '';
////           }
////        },
////
////        // mounted(){
//        //     document.querySelector('#button').addEventListener('click', () => {
//        //         let name = document.querySelector('#input');
//        //         app.names.push(name.value);
//        //         name.value='';
//        //     });
//        // }
//    });
//
//


</script>
</body>
</html>